// Color Theme
$light-color: #fff;
$dark-color: #241A0D;

$primary-color: #000D29;
$secondary-color: #E0E5F1;
$ascent-color: #118C8B;
$complementary-color: #BCA18D;

// Gradient Color Stops
$color-stop1: rgba(0, 13, 41, 1);
$color-stop2: rgba(0, 13, 41, .88);
$color-stop3: rgba(0, 0, 0, 0.163);

// Media queries
$screen-small: 415px;
$screen-large: 1240px;